#titulo{ text-align:center;
	color:#80864D;
	margin-bottom:40px}

#barranav{ 
	text-transform:capitalize;
	margin-bottom:50px;
	display:block;
	text-align:justify;
	}
	

#menu > li {
	background-color:#F3F3F3;
	display:inline-block;
	padding:15px;
	position:relative;
	}

#menu > li:hover { 
	background-color:#CCCCCC;
	transition:0.3s;
	cursor:pointer;
	}
	
 li:hover > #submenu{ display:inline;
 	background-color:#F3F3F3;
	position:absolute;
	left:0;
	top:45px;
	padding:20px;
	text-align:center;
	
	}

#submenu > li:hover { 
	background-color:#CCCCCC;
	transition:0.3s;
	cursor:pointer;
	}
		
#submenu {
	padding:10px;
	display:none;
	
	}
	
	
ul{list-style:none}
